.header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    padding-bottom: 30px;
    background-color: white;
    border-bottom: 1px solid rgb(231, 231, 231);
}
.main1{
    background-color: #fad1d9;
    padding-top: 8px;
    padding-bottom: 1px;
    color: black;
    font-weight: 500;
}



.icon{
    display: flex;
    justify-content: end;
}
.icon i{
    font-size: 20px;
    margin-left: 20px;
    color: black;
}
.icon a{
    text-decoration: none;
    color: black;
    font-weight: 100;
}


.box1 nav a{
    text-decoration: none;
    color: black;
    margin-left: 40px;
}

.box2{
    display: flex;
    justify-content: end;
    align-items: center;
}
.box2 input{
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    height: 30px;
    color: black;
    padding: 5px;
}
.box3{
    margin-top: 20px;
}
.dropdown-toggle{
    background-color: transparent;
    border: none;
}

::placeholder{
    color: black;
}

.icon2{
    display: none;
}
.main3{
    margin-top: 30px;
}


#main2{
    display: flex;
    /* margin-top: 180px; */
    padding-top: 20px;
    background-color: #f6f1ee;
}
.img2{
    width: 100%;
    border-radius: 15px;
    border-bottom: 1px solid rgb(210, 210, 210);
}
.div1{
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
}
.btn1{
    background-color: #e31871;
    border: none;
    padding: 10px 50px 10px 50px;
    border-radius: 25px;
    width: 90%;
    color: white;
}
.p1{
    font-size: 20px;
    margin-top: 20px;
    height: 50px;
}



section{
    display: flex;
    margin-top: 185px;
}
.cart_main{
    width: 100%;
    height: 76vh;
    overflow: scroll;
    border-right: 1px solid rgb(222, 222, 222);
}
#cart{
    display: none;
   background-color: #f6f1ee;
   padding: 30px;
}
::-webkit-scrollbar{
    display: none;
}