*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.head{
  position: fixed;
  border-bottom: 1px solid grey;
  width: 100%;
  padding-bottom: 30px;
}

.main-box{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(https://cdn.pixabay.com/photo/2021/07/09/13/51/notes-6399119_1280.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 100vh; */
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 80px;  
}
.head2{
  color: #cec7b5;
  text-decoration:underline;
  font-size: 18px;
  letter-spacing: 3px;
}
.main2{
  margin-top: 130px;
}
.main3{
  margin-top: 50px;
}
#userList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#userList div{
  background-color: #4e7282;
  margin-left: 10px;
  padding: 20px;
  border-radius: 15px;
}


/* input and button */
.box1{
  margin-top: 50px;
}
.box1 .input{
  width: 200px;
  height: 40px;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  background: none;
  border: none;
  border-bottom: 2px solid #d0a6b3;
  color: white;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: 10px;
  text-transform: capitalize;
  margin-left: 40px;
}
::placeholder{
  color: #a9c3b6;
}

.btn1 {
  height: 40px;  
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  border: none;
  color: #000;
  margin-left: 5px;
  margin-top: 10px;
  letter-spacing: 2px;
}
.btn1:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn1:hover {
  color: #000;
}
.btn1:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn1:active {
  top: 2px;
}


#addUser{
  height: 40px;  
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  border: none;
  color: #000;
  margin-left: 5px;
  margin-top: 10px;
  letter-spacing: 2px;
}
#addUser:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
#addUser:hover {
  color: white;
  background-color: black;
}
#addUser:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
#addUser:active {
  top: 2px;
}

.box2 .input{
  width: 500px;
  height: 100px;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  background: none;
  border: none;
  border-bottom: 2px solid #d0a6b3;
  color: white;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: 20px;
  text-transform: capitalize;
  margin-left: 40px;
  padding-top: 2%;
}