
body
{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

#login{
    width: 500px;
    margin-top:50px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#sign{
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-left: 77%; 
}
h1 {
    text-align: center;
}
span{
    color: red;
}
label{
    display: block;
    /* margin-bottom: 5px; */
}
input{
    width: 100%;
    padding: 10px;
    /* margin-bottom: 15px; */
    border: 1px solid #ccc;
    border-radius: 5px;
}
#submit{
    background-color: rgb(255,176,60);
    border: 1px solid rgb(255,176,60);
}
